/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');
// General spacing

body {
  padding: 75px;
  color: white;
  font-family: 'DM Mono', monospace;
}

// Nav
.right {
  margin: 0;
  position: absolute;
  right: 5%;
}

.nav-item1 {
  right: 10%;
}

.nav-item {
  padding: 5px;
}

.left {
  margin: 0;
  position: absolute;
  left: 5%;
}

.navbar {
  justify-content: space-evenly;
  background-color: transparent;
  background-size: cover;
}

/* Dropdown Button */
.dropbtn {
  color: #48425D;
  padding: 16px;
  font-size: 16px;
  border: none;
  display: contents;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: transparent;
}

.login {
  color: white !important;
}

.drop {
  // background-color: #C57333 !important;
  display: inline-block !important;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  display: inline-block;
  width: 20%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 5px;
  text-decoration: none;
  display: flow-root;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.dropdown-image {
  position: relative;
  width: 25%;
}
.dropdown-image:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropbtn:hover {
                          background-color: #48425D;
                          color: white;}

.btn:hover {
  color: #EEE1C2;
}
                  
.btn {
  background-color: #48425D;
  color: white;
}

// PROFILE
.profile-card-list {
  column-count: 1;
  padding-top: 30px;
}

.profile-tracks {
  position: absolute;
  left: 35%;
  top: 30%;
}

.feed-card-list {
  column-count: 1;
} 

.feed-card-title {
  left: 35%;
  top: 20%;
  position: absolute;
} 

img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.profile img {
  width: 15%;
}

ul {
  column-count: 1;
  column-rule: dotted 1px #333;
  list-style-type: none;
}

table, th, td {
  white-space: nowrap;
  display: -webkit-inline-box !important
}

// audio

.audio {
  align-self: center;
}

// Samples cards


.card-list {
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
}

.card-list h1{
    padding-right: 150px;
}


.card-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

.card-list::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}

.card  {
    display: flex;
    position: relative;
    flex-direction: column;
    height: auto;
    width: 600px;
    min-width: 250px;
    padding: 1.5rem;
}

.card-no-hover {
  display: flex;
    position: relative;
    flex-direction: column;
    height: auto;
    width: 500px;
    min-width: 250px;
    padding: 1.5rem;
}
.card audio {
  width: 105%;
}

// Samples cards animations

.card {
  border-radius: 16px;
  background: #17141d;
  box-shadow: -1rem 0 3rem #000;

  transition: .2s;
}
.card-no-hover {
  border-radius: 16px;
  background: #17141d;
  box-shadow: -1rem 0 3rem #000;

  transition: .2s;
}

.card:hover {
  transform: translateY(-1rem);
}

.card:hover~.card {
  transform: translateX(130px);
}


.card:not(:first-child) {
  margin-left: -130px;
}

.disabled-hover-card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
  width: 500px;
  min-width: 250px;
  padding: 20px;
  border-radius: 16px;
  background: #17141d;
  box-shadow: -1rem 0 3rem #000;

  transition: .2s;
}

// Samples Background Gradient

.card-header {
  margin-bottom: auto;
}

.card-header p {
  font-size: 14px;
  margin: 0 0 1rem;
  color: #7a7a8c;
}

.card-header h5 {
  font-size: 20px;
  margin: .25rem 0 auto;
  cursor: pointer;
  background-image: linear-gradient(90deg,#ff8a00,#e52e71) !important;
  border-radius: 5px;
  width: 70%;
}

.card-header h5:hover {
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.beat-show-header h5{
  fill: linear-gradient(90deg,#ff8a00,#e52e71) !important;
}

// Sample info

.info {
  margin: 1rem 0 2rem;
  padding: .5rem 0 1rem;
  line-height: 2;
  margin-bottom: 0;
}

.info p {
  font-style: normal;
  font-weight: 700;
  font-size: .5rem;
  color: #48425D;
  text-transform: uppercase;
  font-size: .66rem;
  position: relative;
}

.info p:hover {
  background: linear-gradient(90deg,#ff8a00,#e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  background-clip: text;
  border-color: white;
}

.card-author img {
  width: 30%;
}

// Buttons

.like-button {
  position: absolute;
  right: 5%;
}

.partial-buttons {
  width: 35%;
  position: relative;
  display: grid
}

.update-button {
  background-image: image-url("trash-can.png") no-repeat;
  cursor:pointer;
  border:none;
  width:100px;
  height:100px;
}

.button-list {
  float: right;
  position: absolute;
  top: -50%;
  right: -55%;
}

$colors :
			#EEE1C2,
			#BDC3B1,
			#579585,
			#C57333,
			#48425D;


// $colors : #fedc00, #fcb712, #f7921e, #e87f24, #dd6227, #dc4c27, #ca3435, #b82841, #953751, #364c88, #16599d, #02609e, #0073a9, #008aa4, #239a87, #7cba6d, #becc2f, #e0d81d;

body {
	background: 
		repeating-radial-gradient(circle at bottom left, $colors),
		repeating-radial-gradient(circle at bottom right, $colors);
	background-blend-mode: hue;
	height: auto;
  background-attachment: fixed;
}
.add-comment {
  column-count: 2;
  column-width: 1%;
  position: inherit;
  right: 50%;
}

textarea#description {
  width: 200%;
}

.comment-description {
  margin-top: 15px;
  white-space: pre-wrap;
  width: 95%;
}

.comment img {
  width: 15%;
  margin-top: 20px;
}

.delete-icon {
  margin: 0 !important;
}

.comment-header {
  width: 100%;
  border-style: solid;
  background-image: linear-gradient(90deg,#579585,#48425D) !important;
  background-origin: border-box; 
  border-spacing: 5px; 
  border: 5px solid transparent;
}

.header-index {
  width: 50% !important;
}

.comment-index {
  width: 40% !important;
}